html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(39, 39, 39);
    overflow: hidden;
}

canvas {
    display: block;
    top: 0;
    left: 0;
    cursor: crosshair;
}

input#alpha-code {
    position: absolute;
    outline: none;
    background-color: hsl(0, 60%, 50%);
    border: 7px solid black;
    color: white;
    border-radius: 6px;
    width: 30%;
    font-family: "source-sans-pro";
}

input#alpha-code::placeholder {
    color: white;
    opacity: 0.7;
}

div#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#ui-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#deathscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#weapon-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button {
    background-color: hsl(0, 0%, 100%);
    color: rgb(203, 51, 46);
    font-family: "source-sans-pro";
    font-size: 130%;
    border: none;
    text-align: center;
    width: 10%;
    height: 5%;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

button#play {
    position: absolute;
}

button.graphic-quality-option {
    position: absolute;
    top: 80%;
    font-size: 12px;
    width: 4%;
    height: 5%;
}

button#quality0 {
    right: 24%;
}

button#quality1 {
    right: 17%;
}

button#quality2 {
    right: 10%;
}

button#respawn-button {
    position: absolute;
    width: 160px;
    height: 60px;
    left: calc(50% - 80px);
    top: calc(60% - 30px);
    background-color: rgb(203, 51, 46);
    color: hsl(0, 0%, 100%);
}

button#start-level {
    position: absolute;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 45%;
    background-color: rgb(203, 51, 46);
    color: hsl(0, 0%, 100%);
    user-select: none;
    outline: none;
}

p#loading {
    font-family: "source-sans-pro";
    font-size: larger;
    font-weight: bold;
    color: white;
}

p#version {
    position: absolute;
    font-family: "source-sans-pro";
    font-size: 14px;
    left: 0;
    bottom: 0;
    margin: 0;
}

p#qualityTitle {
    position: absolute;
    font-family: "source-sans-pro";
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    top: 65%;
    left: 72%;
}

p#you-died-text {
    position: absolute;
    color:hsl(0, 0%, 100%);
    font-size: 70px;
    top: 15%;
    font-family: "source-sans-pro";
}

p#killer-text {
    position: absolute;
    color:rgb(203, 51, 46);
    font-size: 25px;
    top: 35%;
    font-family: "source-sans-pro";
}

p#xp-loss {
    position: absolute;
    color:rgb(191, 193, 77);
    font-size: 25px;
    top: 42%;
    font-family: "source-sans-pro";
}

p#weapon-name {
    position: absolute;
    font-family: "source-sans-pro";
    color: black;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 100%;
    transition: ease-in-out 0.1s;
    outline: none;
    cursor: pointer;
    text-align: center;
}

p#ammocount {
    position: absolute;
    font-family: "source-sans-pro";
    color: black;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 100%;
    transition: ease-in-out 0.1s;
    outline: none;
    cursor: pointer;
    text-align: center;
}

p#select-weapons-text {
    position: absolute;
    color:hsl(0, 0%, 100%);
    font-size: 250%;
    top: -3%;
    left: calc(25% - 20px);
    width: calc(50% + 40px);
    font-family: "source-sans-pro";
    text-align: center;
}

img#logo {
    position: absolute;
    width: 50%;
    top: 30%;
}

img#ammocount-background {
    position: absolute;
    border: 3px solid black;
    background-color: #ffffff7e; 
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 100%;
    transition: ease-in-out 0.1s;
}

img#weapon-slot-1 {
    position: absolute;
    border: 3px solid black;
    background-color: #ffffff7e; 
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 100%;
    transition: ease-in-out 0.1s;
}

img#weapon-slot-2 {
    position: absolute;
    border: 3px solid black;
    background-color: #ffffff7e; 
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 100%;
    transition: ease-in-out 0.1s;
}

img#weapon-name-background {
    position: absolute;
    border: 3px solid black;
    background-color: #ffffff7e; 
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 100%;
    transition: ease-in-out 0.1s;
}

img#ammocount-background:hover {
    opacity: 50%;
    transition: ease-in-out 0.1s;
}

img#weapon-slot-1:hover {
    opacity: 50%;
    transition: ease-in-out 0.1s;
}

img#weapon-slot-2:hover {
    opacity: 50%;
    transition: ease-in-out 0.1s;
}

img#weapon-name-background:hover {
    opacity: 50%;
    transition: ease-in-out 0.1s;
}

img#death-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    -webkit-user-drag: none;
    user-select: none;
    opacity: 100%;
    transition: linear 0.2s;
}

img#selection-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    -webkit-user-drag: none;
    user-select: none;
    opacity: 100%;
    transition: linear 0.2s;
}

img.selection-backing {
    position: absolute;
    justify-content: center;
    width: 13%;
    left: 27%;
    -webkit-user-drag: none;
    user-select: none;
    background-color: rgb(100, 100, 100);
    border: 3px solid black;
    border-radius: 20px;
    opacity: 100%;
    transition: linear 0.2s;
    cursor: pointer;
}

img.selection-backing-secondary {
    position: absolute;
    justify-content: center;
    width: 13%;
    right: 27%;
    -webkit-user-drag: none;
    user-select: none;
    background-color: rgb(100, 100, 100);
    border: 3px solid black;
    border-radius: 20px;
    opacity: 100%;
    transition: linear 0.2s;
    cursor: pointer;
}

img#healthbar-outline {
    position: absolute;
    border: 3px solid black;
    -webkit-user-drag: none;
    user-select: none;
    cursor: crosshair;
    transition: ease-in-out 0.1s;
}

img#healthbar {
    position: absolute;
    border: 3px solid #00000000;
    -webkit-user-drag: none;
    user-select: none;
    background-color: rgba(203, 51, 46, 0.5);
    cursor: crosshair;
    transition: ease-in-out 0.1s;
}

img#reload-progress {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: crosshair;
    border: 3px solid rgba(0, 0, 0, 0);
}

img#reload-progress-outline {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    cursor: crosshair;
    border: 3px solid black;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("assets/fonts/SourceSansPro-Black.ttf");
}